<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<h3>Display students</h3>
		<a href="http://localhost:8080/student/register">Add student</a>
		<br/>
		<span th:text="${message}"></span>
		<table border="1" cellspacing="0" cellpadding="5">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Department</th>
				<th>Salary</th>
				<th>Action</th>
			</tr>
			<tr th:each="s:${student}">
				<td th:text="${s.sId}"></td>
				<td th:text="${s.sName}"></td>
				<td th:text="${s.sDept}"></td>
				<td th:text="${s.sSalary}"></td>
				<td>
					<a th:href="@{/student/edit(sId=${s.sId})}">Edit</a>
					|
					<a th:href="@{/student/delete(sId=${s.sId})}">Delete</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>
